h1 {
  text-align: center;
  font-family: Coronetscript, cursive;
}
.module {
  cursor: ('https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjZo9CD25fmAhUHxIUKHXItBAEQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_109085527_stock-vector-world-vector-icon-isolated-on-transparent-background-world-logo-concept.html&psig=AOvVaw3uaRqZKhqu_S39yORUkrtm&ust=1575401753551596'), auto;
}
